// MARGINS

$margin__1: 5px;
$margin__2: 10px;
$margin__3: 20px;
$margin__4: 40px;


// COLORS

$color__red: #DF6C68;
$color__blue: #5DA8E5;
$color__turquise: #7CCFD0;
$color__grey: #F1F1F1;
$color__grey--darker: #CACACA;
$color__white: #FFFFFF;
