// MARGINS

$margin__1: 5px;
$margin__2: 10px;
$margin__3: 20px;
$margin__4: 40px;


// COLORS

$color__red: #DF6C68;
$color__blue: #5DA8E5;
$color__turquise: #7CCFD0;
$color__grey: #F1F1F1;
$color__grey--darker: #CACACA;
$color__white: #FFFFFF;

// FONTSIZE

$font__size_su: 42px;
$font__size_xxl: 28px;
$font__size_xl: 21px;
$font__size_l: 17px;
$font__size_mPlus: 15px;
$font__size_m: 14px;
$font__size_sPlus: 13px;
$font__size_s: 12px;
$font__size_xs: 11px;
$font__size_mi: 10px;

