@import './constants';
@import './fabric-ui-override';
@import './fonts/roboto/roboto';
@import './typography';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background-color: #eee;
  font-family: Roboto, Helvetica Neue, sans-serif;
  padding: 0;
  padding-bottom: $layout__footer-height + 20px;
  margin: 0;
}

hr {
  border: 1px solid $color__grey;
}
