@import './constants.scss';

.wlc-fontSize-su {
  font-size: $font__size_su;
}

.wlc-fontSize-xxl {
  font-size: $font__size_xxl;
}

.wlc-fontSize-xl {
  font-size: $font__size_xl;
}

.wlc-fontSize-l {
  font-size: $font__size_l;
}

.wlc-fontSize-mPlus {
  font-size: $font__size_mPlus;
}

.wlc-fontSize-m {
  font-size: $font__size_m;
}
.wlc-fontSize-sPlus {
  font-size: $font__size_sPlus;
}
.wlc-fontSize-s {
  font-size: $font__size_s;
}
.wlc-fontSize-xs {
  font-size: $font__size_xs;
}
.wlc-fontSize-mi {
  font-size: $font__size_mi;
}
