@import 'src/styles/constants';


.wlc_category-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wlc_category-list__item {
  list-style-type: none;
  margin-left: 0;
  background-color: $color__blue;
  padding: $margin__1 $margin__2;
  margin-bottom: $margin__1;
  color: $color__white;
  border-radius: 2px;

  &:hover {
    background-color: darken($color__blue, 20%);
  }
}

.wlc_category-list-link {
  text-decoration: none;
  &--active {
    .wlc_category-list__item {
      background-color: darken($color__blue, 20%);
    }
  }
}
